[submodule "makiahsandroidlib"]
	path = makiahsandroidlib
	url = https://github.dude.makiah.androidlib
[submodule "AndroidCV-SDK"]
	path = AndroidCV-SDK
	url = https://github.com/Makiah/AndroidCV-SDK
[submodule "FtcRobotController/src/main/AndroidCV-JNILibs"]
	path = FtcRobotController/src/main/AndroidCV-JNILibs
	url = https://github.com/makiah/AndroidCV-JNILibs
[submodule "TeamCode/src/main/java/org/firstinspires/ftc/teamcode/vision/relicrecoveryvisionpipelines"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/vision/relicrecoveryvisionpipelines
	url = https://gitlab.com/makiahtbennett/relicrecoveryvisionpipelines
[submodule "FtcRobotController/src/main/cpp/relicrecoveryvisionpipelinescpp"]
	path = FtcRobotController/src/main/cpp/relicrecoveryvisionpipelinescpp
	url = https://gitlab.com/makiahtbennett/relicrecoveryvisionpipelinescpp
